[package]
name = "memapi2"
version = "0.8.0"
edition = "2018"
rust-version = "1.46.0"
authors = ["echohumm"]
description = "A no_std/no-alloc-friendly memory allocation interface for raw buffers, with improved error reporting."
license = "GPL-3.0 OR MIT"
repository = "https://github.com/echohumm/memapi"
keywords = ["allocator", "no_std", "memory", "allocation"]
categories = ["no-std::no-alloc", "memory-management"]
include = [
    "src/**",
    "build.rs",
    "Cargo.toml",
]
build = "build.rs"



[package.metadata.docs.rs]
features = ["full"]

[badges]
docsrs = { status = "passing" }
maintenance = { status = "actively-developed" }



[features]
default = []

# msrv-changing features
## that make small changes
c_str = []

# nightly support
nightly = []
metadata = ["nightly"]
sized_hierarchy = ["nightly"]

all_nightly = ["metadata", "sized_hierarchy"]

# std support
std = []

# specific std features
os_err_reporting = ["std"]

full = [
    "os_err_reporting",
    "c_str"
]
full_nightly = ["full", "all_nightly"]



[dependencies]
rustversion = "1.0.22"



[[test]]
name = "alc"
path = "tests/alloc.rs"

[[test]]
name = "hlp"
path = "tests/helpers.rs"

[[test]]
name = "lyt"
path = "tests/layout.rs"

[[test]]
name = "ext_alc"
path = "tests/extra_traits.rs"
